*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-family: 'Verdana', 'Geneva', Sans-serif;
    background-color: #033250;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


div{
    color: #ddffcc;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    line-height: 35px;
}
p{
    color: #000;
}

